In [1]:
import pandas as pd

import psycopg2

import time

In [2]:
# 쿼리 조회 시간을 체크
def my_timer(original_function):

    def wrapper(*args, **kwargs):
        t1 = time.time()
        result = original_function(*args, **kwargs)
        t2 = time.time() - t1
        print('{} 함수가 실행된 총 시간: {} 초'.format(original_function.__name__, t2))
        return result

    return wrapper

@my_timer
# DB에서 데이터를 불러오기 위함
def query_select(query, params = []):
    
    username = 'postgres'
    password = 's'
    host = '127.0.0.1'
    port = '5432'
    database = 'synthea'
    
    conn = psycopg2.connect(host = host,
                            user = username,
                            password = password,
                            port=port,
                            database = database
                           )
    
    with conn.cursor() as cursor:
        
        if len(params) > 0:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
            
        headers = [x[0] for x in cursor.description]
        data = cursor.fetchall()
    
    conn.close()
       
    return pd.DataFrame(columns=headers, data=data)

In [3]:
qry = """
    select *
    from 
        (
            select 
                EXTRACT(year from age(now(), b.birth_datetime)) age,
                a.*
            from 
                condition_occurrence a
                left join person b
                    on a.person_id = b.person_id
            where condition_concept_id in (3191208,36684827,3194332,3193274,
                                           43531010,4130162,45766052,45757474,
                                           4099651,4129519,4063043,4230254,
                                           4193704,4304377,201826,3194082,3192767)
        ) c
    where c.age >= 18
    and exists (
        select *
        from 
            (
                select 
                    drug_concept_id,
                    person_id,
                    drug_exposure_end_datetime,
                    drug_exposure_start_datetime,
                    case drug_exposure_end_datetime::date - drug_exposure_start_datetime::date
                        when 0 then 1
                        else drug_exposure_end_datetime::date - drug_exposure_start_datetime::date 
                        end calc_days_supply
                from drug_exposure
                where drug_concept_id = 40163924 
                and person_id = c.person_id
                and drug_exposure_start_datetime > c.condition_start_datetime
            ) e
        where calc_days_supply >=90
    )

    ;
"""

In [4]:
result = query_select(qry)
result

query_select 함수가 실행된 총 시간: 0.21499872207641602 초

,age,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value,condition_status_concept_id
0,100.0,6030521,478532,201826,1970-07-15,1970-07-15,None,None,32020,None,None,128195749,0,44054006,201826,None,0
1,82.0,27343335,2170146,201826,1970-02-18,1970-02-18,None,None,32020,None,None,45661668,0,44054006,201826,None,0
2,39.0,16598158,1317600,201826,2012-06-28,2012-06-28,None,None,32020,None,None,37017839,0,44054006,201826,None,0
3,69.0,6429214,510173,201826,1997-04-23,1997-04-23,None,None,32020,None,None,87012668,0,44054006,201826,None,0
4,69.0,6772952,537462,201826,1995-10-28,1995-10-28,None,None,32020,None,None,72426396,0,44054006,201826,None,0
5,42.0,23019295,1826955,201826,2018-07-25,2018-07-25,None,None,32020,None,None,63233704,0,44054006,201826,None,0
6,94.0,22923470,1819367,201826,1960-09-10,1960-09-10,None,None,32020,None,None,119590253,0,44054006,201826,None,0
7,68.0,6699802,531690,201826,1975-03-13,1975-03-13,None,None,32020,None,None,127243609,0,44054006,201826,None,0
8,65.0,10630242,843873,201826,1987-02-17,1987-02-17,None,None,32020,None,None,21696581,0,44054006,201826,None,0
9,71.0,31973916,2537704,201826,1975-02-17,1975-02-17,None,None,32020,None,None,27123243,0,44054006,201826,None,0
10,31.0,14292868,1134605,201826,2018-02-27,2018-02-27,None,None,32020,None,None,49739783,0,44054006,201826,None,0
11,51.0,637191,50663,201826,2012-12-04,2012-12-04,None,None,32020,None,None,116959976,0,44054006,201826,None,0
12,54.0,30905198,2452672,201826,2009-05-21,2009-05-21,None,None,32020,None,None,92676198,0,44054006,201826,None,0
13,67.0,26136464,2074366,201826,1995-04-29,1995-04-29,None,None,32020,None,None,94941101,0,44054006,201826,None,0
14,53.0,6250153,495973,201826,1996-04-17,1996-04-17,None,None,32020,None,None,39720131,0,44054006,201826,None,0
15,85.0,18200346,1444791,201826,1973-01-20,1973-01-20,None,None,32020,None,None,69486769,0,44054006,201826,None,0
16,62.0,13887125,1102377,201826,2007-04-03,2007-04-03,None,None,32020,None,None,98853958,0,44054006,201826,None,0
17,45.0,11238731,892185,201826,2015-08-20,2015-08-20,None,None,32020,None,None,96762902,0,44054006,201826,None,0
18,76.0,391684,31196,201826,1983-02-03,1983-02-03,None,None,32020,None,None,25713132,0,44054006,201826,None,0
19,55.0,30252464,2400845,201826,2016-06-04,2016-06-04,None,None,32020,None,None,100562269,0,44054006,201826,None,0
20,72.0,33949243,2694671,201826,1977-05-26,1977-05-26,None,None,32020,None,None,23969879,0,44054006,201826,None,0
21,28.0,2221995,176640,201826,2010-10-10,2010-10-10,None,None,32020,None,None,67153078,0,44054006,201826,None,0
22,50.0,22953560,1821726,201826,1998-09-24,1998-09-24,None,None,32020,None,None,68571932,0,44054006,201826,None,0
23,56.0,844868,67212,201826,2004-12-09,2004-12-09,None,None,32020,None,None,53391660,0,44054006,201826,None,0
24,96.0,19883315,1578321,201826,1962-04-16,1962-04-16,None,None,32020,None,None,34973006,0,44054006,201826,None,0
25,61.0,11451942,909084,201826,1987-01-02,1987-01-02,None,None,32020,None,None,99772829,0,44054006,201826,None,0
26,77.0,7674541,609120,201826,1988-03-27,1988-03-27,None,None,32020,None,None,72756804,0,44054006,201826,None,0
27,83.0,21960747,1743075,201826,1960-02-07,1960-02-07,None,None,32020,None,None,90259867,0,44054006,201826,None,0
28,54.0,27011372,2143829,201826,1994-07-20,1994-07-20,None,None,32020,None,None,82849746,0,44054006,201826,None,0
29,55.0,6144523,487607,201826,2016-11-29,2016-11-29,None,None,32020,None,None,60326164,0,44054006,201826,None,0