In [1]:
import os
import configparser

import pandas as pd

import psycopg2

import time

In [2]:
# 쿼리 조회 시간을 체크
def my_timer(original_function):

    def wrapper(*args, **kwargs):
        t1 = time.time()
        result = original_function(*args, **kwargs)
        t2 = time.time() - t1
        print('{} 함수가 실행된 총 시간: {} 초'.format(original_function.__name__, t2))
        return result

    return wrapper

# @my_timer
# DB에서 데이터를 불러오기 위함
def query_select(query, params = []):

    root_path = os.path.dirname(os.getcwd())
    
    config  = configparser.ConfigParser()
    config.read(root_path + '/source/db_config.ini', encoding = 'utf-8')

    USERNAME = config['POSTGRES']['USERNAME']
    PASSWORD = config['POSTGRES']['PASSWORD']
    HOST = config['POSTGRES']['HOST']
    PORT = config['POSTGRES']['PORT']
    DATABASE = config['POSTGRES']['DATABASE']
    
    conn = psycopg2.connect(host=HOST,
                            user=USERNAME,
                            password=PASSWORD,
                            port=PORT,
                            database=DATABASE
                           )
    
    with conn.cursor() as cursor:
        
        if len(params) > 0:
            cursor.execute(query, params)
        else:
            cursor.execute(query)
            
        headers = [x[0] for x in cursor.description]
        data = cursor.fetchall()
    
    conn.close()
       
    return pd.DataFrame(columns=headers, data=data)

In [3]:
# 9시간을 더해준 이유??
# 방문시간을 확인해보니, 외래 방문시간이 새벽시간 or 늦은 저녁인 것을 확인
# 이에 us 시간으로 되어 있다고 판단이 되어 한국시간으로 변경하기 위해 진해함.

# 사망자의 경우 사망일 이후에도 여러 사유로 인해
# 환자가 아닌 타인이 방문함. 
# 이에 이런 부분은 본인 내원이 아니라 판단되어, 총 내원일자 산정에 제외함
qry = """
    select 
        max(visit_end_datetime - visit_start_datetime + 1) max_visit_days,
        min(visit_end_datetime - visit_start_datetime + 1) min_visit_days,
        sum(visit_end_datetime - visit_start_datetime + 1) total_visit_days
    from 
        (
            select 
                visit_concept_id,
                person_id,
                (visit_start_datetime + interval '9 hour')::date visit_start_datetime,
                (visit_end_datetime + interval '9 hour')::date visit_end_datetime,
                visit_end_date,
                (
                    select distinct death_date::date 
                    from death 
                    where person_id = a.person_id
                ) death_date
            from visit_occurrence a
        ) b
    where
        visit_end_date <= COALESCE(death_date, now()::date) 
    ;
"""

In [4]:
result = query_select(qry)
result

   max_visit_days  min_visit_days  total_visit_days
0            3731               1             72641